/* Global styles */




.clear {
  clear: both;
}




/* #root { 
  display: flex;
  flex-direction: column;
} */

/* Documentation site component styles */
.example {
  
  padding: 16px 16px;
  margin-bottom: 25px;
  background-color: #f4f6f9;
}

.example h4:first-of-type {
   margin-top: 0;
}

.example p:last-of-type {
   margin-bottom: 0;
}

.props tr td:last-of-type {
  text-align: center;
}

.props th, td {
  text-align: left;
  padding: 5px;
}

.navigation {
  float: left;
  width: 250px;
  list-style: none;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* .navigation li {
  list-style: none;
  padding: 5px;
  width: 100%;
  align-self: center;
  display: flex;
  justify-content: center;
}

.navigation li:target {
  background-color: cyan;
  color: rgb(168, 67, 168);
}


.navigation li a {
  text-decoration: none;
}

.navigation li a:hover {
  color: purple;
  
} */

.componentpage {
  margin-left: 75px;
}